@import "./team.scss";
@import "./search.scss";
@import "./types.scss";
@import "./nav.scss";
@import "./footer.scss";

body {
  // position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  // padding: 20px;
  background-color: rgb(76, 76, 76);
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {scroll-behavior: smooth;}