
.type-section{

    background-color: #6F7597;
    padding: 30px 0px;
    padding-bottom: 60px;
   
    color: white;
    
    

          
    
}

.type-header{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.type-container{
    background-color: #D4D9FF;
    margin: 0px 250px;
    border-radius: 10px;
    border: 2px solid rgb(66, 66, 66);
    box-shadow: 4px 5px 2px rgba(0, 0, 0, 0.5)  ; 
    padding: 10px;
}

.type-buttons{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 200px;
    padding: 20px;
    padding-bottom: 5px;
    gap: 10px;
   
}

.type-results{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 5px;
    margin: 0px 250px;
    color: #000;
    padding-top: 5px;
}

#normal-button{
    background-color: #ABA77A;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#normal-button:hover{
    background-color: #bfba88;
}

#fire-button{
    background-color: #EE8130;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#fire-button:hover{
    background-color: #ff9442;
}

#water-button{
    background-color: #6390f0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#water-button:hover{
    background-color: #709eff;
}

#grass-button{
    background-color: #7AC74C;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#grass-button:hover{
    background-color: #87e054;
}

#electric-button{
    background-color: #F7D02C;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#electric-button:hover{
    background-color: #ffd942;
}

#ice-button{
    background-color: #96D9D6;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#ice-button:hover{
    background-color: #aaf2ee;
}

#fighting-button{
    background-color: #C22E28;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#fighting-button:hover{
    background-color: #d5312c;
}

#poison-button{
    background-color: #A33EA1;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#poison-button:hover{
    background-color: #bc49ba;
}

#ground-button{
    background-color: #E2BF65;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#ground-button:hover{
    background-color: #f5ce6e;
}

#flying-button{
    background-color: #A98FF3;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#flying-button:hover{
    background-color: #bca4fc;
}

#psychic-button{
    background-color: #F95587;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#psychic-button:hover{
    background-color: #fa739c;
}

#bug-button{
    background-color: #A6B91A;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#bug-button:hover{
    background-color: #b7cb1c;
}

#rock-button{
    background-color: #B6A136;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#rock-button:hover{
    background-color: #c6ae3a;
}

#ghost-button{
    background-color: #735797;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#ghost-button:hover{
    background-color: #8363ad;
}

#dark-button{
    background-color: #705746;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#dark-button:hover{
    background-color: #826857;
}

#dragon-button{
    background-color: #6F35FC;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#dragon-button:hover{
    background-color: #7f4dfd;
}

#steel-button{
    background-color: #B7B7CE;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#steel-button:hover{
    background-color: #c9c9e1;
}

#fairy-button{
    background-color: #D685AD;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#fairy-button:hover{
    background-color: #ee96c2;
}